.Footer_main_div {
    background-color: #DCE2E5;
    position: relative;
    margin-top: -130px;
    padding-top: 150px;
    z-index: 0;
}

.Footer_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Footer_h1 {
    font-weight: 600;
    color: rgba(9, 21, 44, 1);
}

.Footer_h2 {
    display: flex;
    gap: 30px;
}

.business {
    color: grey;
}

.ul_h1 {
    font-size: 30px;
    color: rgba(9, 21, 44, 0.8);
}

li {
    color: gray;
}

.Footer_logo {
    display: flex;
    gap: 30px;
}

.Footer_div_2 {
    display: flex;
    justify-content: center;
}

.Footer_logo_2 {
    list-style-type: none;
}

.Footer_h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(9, 21, 44, 0.6);
    padding: 30px;
    margin-right: 30px;
}

@media(max-width:575px) {
    .Footer_div_2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}